// ==========================================================================
//  VARIABLES.SCSS
//  Sass variables
// ==========================================================================

// Breaking points
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1280px;
$breakpoint-xxlarge: 1440px;

$breakpoint-mobile: 0px; // -> 639
$breakpoint-tablet: 640px; // 640 -> 1023
$breakpoint-desktop: 1024px; // 1024 ->
$breakpoint-until-tablet: $breakpoint-tablet - 1;
$breakpoint-until-desktop: $breakpoint-desktop - 1;

$max-width: 1440px;

// Colors
$color-white: #fff;
$color-background: #E7E8EF;
$color-support: #AAA;
$color-transverse: #000;
$color-une: #415E92;
$color-kitchen: #FC0;
$color-learn: #FF6F00;
$color-play: #86C5E8;
$color-discover: #006633;
$color-imagine: #8da205;
$color-reduction: #E70000;

// Typo
$browser-context: 16;

// dimensions and positions
$sidenav_mobile_width: 265px;
$sidenav_tablet_width: 200px;