// ==========================================================================
//  VARIABLES.SCSS
//  Sass variables
// ==========================================================================

// Breaking points
$breakpoint-medium: 10px;
$breakpoint-large: 768px;
$breakpoint-xlarge: 1024px;

$breakpoint-mobile: 10px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-until-mobile: $breakpoint-mobile - 1;
$breakpoint-until-tablet: $breakpoint-tablet - 1;
$breakpoint-until-desktop: $breakpoint-desktop - 1;
$breakpoint-from-mobile: $breakpoint-mobile + 1;
$breakpoint-from-tablet: $breakpoint-tablet + 1;
$breakpoint-from-desktop: $breakpoint-desktop + 1;

//general height
$heightMenuMobile: 45px;
$heightMenuDesktop: 79px;
$heightMenuDesktopPro: 130px;
$heightMenuMain: 51px; //sous menu pro

// Colors

//generic colors
$color-legrand: #FF9600;
$color-white: #FFF;
$color-black: #202020;

$colorProtection: #BC8952;
$colorIndustrie: #519F6D;
$colorResidentiel: #7C6DA6;
$colorTertiaire: #5E67A8;

$colorAgences:#00aa14;
$colorShowrooms:#9a0049;


//specific for text
$color-text-grey: #A0A0A0;
$color-text-unactive: #C7C7C7;

//specific for background
$color-background-light: #F3F2F1;
$color-background-dark: #393837;
$color-background-light-orange: #f4aa29;
$color-background-dark-orange: #fa6d47;
$color-background-white: #fff;

//color for forms
$color-form-error: #BE2A2A;
$color-form-valid: #5CB62F;

//other colors
$color-border-block: #E0E0E0;
$color-border-text: #CCC;
$color-line-title: #707070;

//margin and layout
$colcount: 12;
$colsize: 63;
$gutter: 24px;
$outgutter: 24px;
$h-space-mobile: 20px;
$h-big-space-mobile: 40px;
$h-space-desktop: 55px;
$h-big-space-desktop: 55px;

$max-width: 1440px;

// Font size
$browser-context: 16;









