.set-24 {
    overflow: hidden;
    padding-top: 0 !important;
    .breadcrumb {
        margin-top: 30px;

        .breadcrumb-list {
            display: flex;
        }

        .list-item-link {
            color: #a1a09e;
        }
        .list-item {
            &:before {
                color: #a1a09e;

            }
            &:last-child {
                color: black;
            }

        }
    }
}

