.set-67 {
    margin-bottom: 90px;

    .content {
        padding: 0 40px;

        @include mq ($from: mobile) {
            padding : 0 7.56%;
        }
    }


    .block-title {
        @extend .txt-title-dashed-large;
    }

    .filter-select {
        padding: 0 20px;
        display: block;
        @include mq ($from: mobile) {
            display: none;
        }
    }

    .block-text {
        @extend .text-r-2;
        margin-right: 8px;
    }
    .btn-list {
        display: none;
        @include mq ($from: mobile) {
            display: block;
            margin-left: 8.36%;
        }
    }

    .number-results {
        @extend .Roboto-Regular;
        font-size: 13px;
        margin-right: 20px;
    }

    .btn-number-product {
        margin-bottom: 10px;
    }

    .month-mobile {
        display: block;
        margin-top: 15px;
        margin-bottom: 0;
        @extend .txt-title-b-1;
        @include mq ($from: mobile) {
            display: none;
        }
    }

    .year-item {
        @extend .text-l-2;
        text-align: center;
        margin: 40px 0 20px;
        @include mq ($from: mobile) {
            margin: 0;
            position: absolute;
            top:-20px;
            left: -90px;
        }
    }
    .month-item {
        display: none;
        @extend .txt-title-b-1;
        @include mq ($from: mobile) {
            position: absolute;
            top:-10px;
            left: 20px;
            display: block;
        }
    }

    .timeline-item {
        @include mq ($from: mobile) {
            position: relative;
            padding-left: 115px;
            margin-top: 60px;
            margin-left: 185px;
            border-left: 1px solid $color-border-block;
            &:before {
                content: '';
                position: absolute;
                width:9px;
                height: 9px;
                top: -5px;
                left: -5px;
                border-radius: 50%;
                display: block;
                background-color: $color-black;
            }
        }

    }


    .timeline-item-list {
        margin-top: -1px !important;
    }


}

