.set-t07 {


    .background-grey {
        background: $color-background-light;
    }

    .set-34 {
        z-index: 0;
    }

    .reco-customer {
        margin-top: -20px;
        position: relative;
        z-index: 1;

        .section-content {
            background: $color-white;
        }
    }

    // if set-t07 & reco-customer canceled margin top
    &.fix-reco-customer {
        background: red;
        .reco-customer {
            margin-top: 0;
        }

    }

    // fix m-03
    .m-03 {
        .inner-feature {
            background: none;
            padding-bottom: 90px;
        }
    }

    // page 16-actu-legrand
    @include mq($from: mobile) {
        .m-66 {
            float: right;
            width: 100%;
        }
    }
    .set-8-2 {
        .m-48 {
            background: $color-background-white;
        }
    }

}

