<!DOCTYPE html>
<html>
<head>
    {% spaceless %}
        {% block head %}
            {% if debug %}
                <link rel="stylesheet" href="styles/all.css">
            {% else %}
                <link rel="stylesheet" href="styles/all.min.css">
            {% endif %}
            <title>{% block title %}{% endblock %}</title>
            <style type="text/css">
                .debug {
                    position: fixed;
                    z-index: 200;
                    bottom: 20px;
                    left: 20px;
                    height: 50px;
                    opacity: .2;
                }

                .debug:hover {
                    opacity: 1;
                }

                .debug .text {
                    position: absolute;
                    opacity: 0;
                    transition: opacity 300ms ease-out;
                    color: white;
                    background-color: #FF9600;
                    padding: 10px;
                    box-shadow: 3px 2px 10px 0 rgba(0, 0, 0, 0.5);
                }

                .debug .text.desktop {
                    opacity: 1;
                }

                .debug .text.tablet {
                    background-color: #FF9600;
                }

                .debug .text.mobile {
                    background-color: #FF9600;
                }

                @media all and (max-width: 63.99em) {

                    .debug .text.desktop {
                        opacity: 0;
                    }

                    .debug .text.tablet {
                        opacity: 1;
                    }
                }

                @media all and (max-width: 47.99em) {

                    .debug .text.desktop,
                    .debug .text.tablet {
                        opacity: 0;
                    }

                    .debug .text.mobile {
                        opacity: 1;
                    }
                }

            </style>
        {% endblock %}
    {% endspaceless %}
    <meta charset="UTF-8">

</head>
<body>
<div id="content">
    {% spaceless %}
        {% block header %}
            {% include 'layout/header.twig' %}
        {% endblock %}
    {% endspaceless %}
    {#{% import 'components/icons.twig' %}#}
    {#{% import 'layout/breadcrumb.twig' as bread %}#}
    {% import 'components/buttons.twig' as button %}
    {% import 'blocks/popin-master.twig' as popin %}
    {% import 'modules/moduletitle.twig' as title %}

    {% block content %}{% endblock %}
</div>

{% spaceless %}
    {% block footer %}
        {% include 'layout/footer.twig' %}
    {% endblock %}
    {% block scripts %}
        {% include 'layout/scripts.twig' %}
    {% endblock %}
    {% block debug %}
        {% include 'layout/debug.twig' %}
    {% endblock %}
{% endspaceless %}
</body>
</html>
