// Custom checkbox & radios //
/* Hide the original radios and checkboxes (but still accessible) */
.skin-checkbox,
.skin-radio {
    position: absolute;
    left: -9999px;
}

/* Base for label styling */
.skin-checkbox + .form-label,
.skin-radio + .form-label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

/* Checkbox aspect */
.skin-checkbox + .form-label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid grey;
    background-color: white;
}

/* Radio aspect */
.skin-radio + .form-label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid grey;
    background-color: white;
}

/* Checkbox checked mark aspect */
.skin-checkbox + .form-label:after {
    content: attr(data-icon);
    position: absolute;
    top: 0;
    left: 6px;
    font-size: 14px;
    line-height: 1.75;
    color: grey;
    opacity: 0;
}

/* Radio checked mark aspect */
.skin-radio + .form-label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: grey;
    opacity: 0;
}

/* Hover styles */
.skin-checkbox:hover + .form-label:before,
.skin-radio:hover + .form-label:before {
    background-color: aliceblue;
}

/* Focus styles */
.skin-checkbox:focus + .form-label:before,
.skin-radio:focus + .form-label:before {
    outline: 1px dotted black;
}

/* Checked styles */
.skin-checkbox:checked + .form-label:before,
.skin-radio:checked + .form-label:before {
    border-color: grey;
}
.skin-checkbox:checked + .form-label:after,
.skin-radio:checked + .form-label:after {
    opacity: 1;
}
.skin-radio:checked + .form-label:after {
    color: grey;
}

/* Disabled styles */
.skin-checkbox:disabled + .form-label,
.skin-radio:disabled + .form-label {
    cursor: default;
}
.skin-checkbox:disabled + .form-label:before,
.skin-radio:disabled + .form-label:before {
    border-color: lightgrey;
    outline: none;
    background-color: white;
}
.skin-checkbox:disabled + .form-label:after {
    color: lightgrey;
}
.skin-radio:disabled + .form-label:after {
    background-color: lightgrey;
}

/* Error styles */
.skin-checkbox.form-error + .form-label,
.skin-radio.form-error + .form-label {
    color: red;
}
.skin-checkbox.form-error + .form-label:before,
.skin-radio.form-error + .form-label:before {
    border-color: red;
}
.skin-checkbox.form-error + .form-label:after {
    color: red;
}
.skin-radio.form-error + .form-label:after {
    background-color: red;
}

// Custom file //
.skin-file + .form-label {
    cursor: pointer;
    display: flex;
}
.file-input:not(.accessibility) {
    display: flex;
    position: relative;
}
.file-name {
    display: block;
    border: 1px solid;
    padding: 5px;
}
.file-button {
    background: white;
    padding: 5px;
    border: 1px solid;
    margin-left: -1px;
}

/* Hover styles */


/* Focus styles */
.skin-file:focus + .form-label .file-input {
    outline: 1px dotted black;
}

/* Disabled styles */
.skin-file:disabled + .form-label {
    cursor: default;

    .file-name, .file-button {
        border-color: lightgrey;
        color: lightgrey;
    }
}

/* Error styles */
.skin-file.form-error + .form-label {
    .file-name, .file-button {
        border-color: red;
        color: red;
    }
}