/* ==========================================================================
   BUTTONS.SCSS
   Styles for buttons.
   ========================================================================== */
.btn {
    display: inline-flex;
    padding: 0;
    align-items: center;

    &.reversed {
        flex-direction: row-reverse;
    }
}