/* ==========================================================================
   BUTTONS.SCSS
   Styles for buttons.
   ========================================================================== */
.style-1 {
    background: firebrick;
    color: white;
    padding: 10px;
}