.pagination {
    position: relative;
    display: inline-block;
    cursor: pointer;

    @extend .text-b-1;

    &.inactive, &.disabled {
        color: $color-text-grey !important;
        cursor: default !important;
    }
    //allow to inherit color if those tag are embedded
    a, span {
        color: inherit;
        cursor: inherit;
    }
    &.prev {
        padding-right: 15px;
        &:after {
            content: '';
            width: 1px;
            height: 15px;
            position: absolute;
            top: 0;
            right: 0;
            background: $color-text-grey;
        }
        .icon-item {
            margin-right: 10px;
        }
    }
    &:not(.inactive):hover {
        color: $color-legrand;
    }

    &.next {
        padding-left: 15px;
        margin-left: -6px;
        .icon-item {
            margin-left: 10px;
        }
    }
    &.next,
    &.prev {
        .icon-item {
            margin-top: -3px;
        }
    }
}

.pagination-white {
    .pagination {
        &:not(.inactive):hover {
            color: $color-legrand;
        }
    }
}

.block-pagination {
    text-align: center;
    padding: 30px 0;
    clear: both;
    position: relative;
    &:before {
        content: '';
        border-top: 1px solid;
        color: $color-border-text;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;

    }

    @include mq($from: desktop) {
        padding: 50px 0;
    }
    .pagination {
        color: $color-text-grey;
        font-size: 15px;
        &.pages {
            margin: 0 15px;
        }

        &:first-child {
            float: left;
        }
        &:last-child {
            float: right;
        }

        .active {
            color: $color-black;
            font-weight: 700;
        }
    }
}