{% macro blockTitle(title) %}
    <h2 style="color: darkgrey;border-bottom: 3px solid black;border-top: 3px solid black;padding: 15px 0;font-style: italic;font-family: arial;">{{ title }}</h2>
{% endmacro %}