<div class="module m-validation-form {{ (flat) ? 'flat' : '' }}">
    <div class="block-valid">
        <i class="icon icon-validation thin-icon"></i>
        <p class="text-valid">{{message|raw}}</p>
    </div>
</div>