<label for="contact_request-object" class="form-text-label js-form-text-label">
    Objet de votre demande <sup>*</sup>
</label>
<select name="request-object" required id="contact_request-object" class="js-module" data-module="skin-select">
    <option class="value" value="">Choisissez l’objet de votre demande</option>
    {% for i in 0..10 %}
        <option value="request-object">Objet de votre demande </option>
    {% endfor %}
</select>


