<div class="slider-nurun"> {#div a retirer par default#}
    <div class="single-item js-module" data-module="slick-slider">
        <div>your content</div>
        <div>your content</div>
        <div>your content</div>
    </div>
</div>