<header>

    <div class="in-header">

        <div class="logo">
            logo
        </div>
        <div class="title">
            title
        </div>
        <div class="others">
            autres trucs
        </div>
    </div>

</header>