.set-47 {
    padding-bottom: 0 !important;
    .owl-item {

        @include mq($until: mobile) {

            padding: 0 10px;
            border-right: 1px solid $color-border-block;

            &:last-child {
                border: none;
            }

            .block-description {
                margin-top: -18px;
            }

            .block-description-content {
                padding: 10px 10px 10px 0;
            }
        }
    }

    .owl-carousel {

        .owl-stage-outer:after {
            content: '';
            width: 1px;
            height: 100%;
            background: $color-white;
            position: absolute;
            top: 0;
            right: 0;

            @include mq($from: mobile) {
                display: none;
            }
        }
    }

    .owl-nav {
        border-top: 1px solid $color-border-block;
        margin: 0;
        padding-top: 20px;

        .pagination {
            background: red;
            padding: 0;
            margin: 0;
            width: 6px;
            height: 6px;
            border-radius: 50px;
            transform: scale(2);
            background: rgba(160, 160, 160, 1);
            border: none;
            margin-right: 10px;

            &:after {
                content: none;
            }

            &.disabled {
                background: rgba($color-text-grey, 0);
                border: 1px solid $color-text-grey;
                transform: scale(1);
            }
        }

        .icon-item, .nav-text {
            display: none;
        }
    }

    .m-wrap {
        @include mq($from: mobile) {
            width: (100% / 3);
            border-right: 1px solid $color-border-block;
            padding: 0 25px;
            float: left;

            &:last-child {
                border: none;
            }
        }
    }

    @include mq($from: mobile) {
        .m47-container {
            margin-top: 65px;
        }
    }


}

