// this set allow to show the prev/next from the slider
.set-66 {
    .section-inner{
        padding-bottom: 40px !important;
    }
    .owl-nav{
        bottom: -30px;
        top: auto !important;
    }
}

