/* ==========================================================================
   BASE.SCSS
 Very basic style of html, body specific to the website
 -----------------------------------------------------------------------------*/

//font face
@font-face {
    font-family: 'Roboto';/*thin*/
    src: url('font/Roboto-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';/*Light*/
    src: url('font/Roboto-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';/*medium*/
    src: url('font/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';/*Normal*/
    src: url('font/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';/*Bold*/
    src: url('font/Roboto-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

html {
    font-size: 62.5%; // base font-size corresponds to 10px
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    //todo ???
    &.no-touch {
        overflow-y: -moz-scrollbars-vertical;
        overflow-y: scroll;
    }
}

body {
    background-color: #ffffff;
    color: $color-black;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: $color-black;
    cursor: pointer;
}

//todo ???
.link {
    display: block;
}

/* switching box model for all elements only for IE8 and more, remove otherwise */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input,
textarea {
    outline: none;
    //impossible to remove autofill style https://code.google.com/p/chromium/issues/detail?id=46543
}

input {
    border-radius: 0;
}

.accessibility {
    position: absolute;
    left: -9999em;
}

// should be always like this, here to avoid rewrite while updating icons
[class^="icon-"], [class*=" icon-"] {
    vertical-align: middle;
}

// todo bof non ?
.hidden-mobile {
    @include mq ($until: desktop) {
        display: none !important; //hide in mobile
    }
}

// todo bof non ?
.hidden-desktop {
    display: block; //show in mobile
    @include mq ($from: tablet) {
        display: none !important; //hide in mobile
    }
}

// cancel cross everywhere on any input type search
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

// todo should be in a block
.overlay {
    background-color: rgba(255, 255, 255, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 30;
    height: 100%;
    .comingsoon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-black;
        @extend .txt-title-b-1;
    }

}

// todo should be in a block
.block-media {
    position: relative;
}

// background img cover
// todo should be in a block
.media-wrapper {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    width: 100%;
}

//allow #anchor to be below the menu
:target:before {
    content: "";
    display: block;
    height: $heightMenuDesktop; /* fixed header height*/
    margin: -$heightMenuDesktop 0 0; /* negative fixed header height */
    @include mq($until: mobile) {
        height: $heightMenuMobile; /* fixed header height*/
        margin: -$heightMenuMobile 0 0; /* negative fixed header height */
    }
}

.header-pro + .main-container {
    :target:before {
        height: $heightMenuDesktopPro;
        margin: -$heightMenuDesktopPro 0 0;
    }
}

.captcha-invalid {
    visibility: hidden;
}
