{% extends "layout/base-tpl.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <h1>Index</h1>
    <p class="important">
        Welcome on my awesome homepage.
    </p>
    <h2 class="js-module" data-module="test">Test</h2>
    <h2 class="js-module" data-module="test-no-load">Test no-load</h2>
    <h2 class="js-module" data-module="test-ajax">Click to test <code>getService</code> function</h2>

{% endblock %}
