// ==========================================================================
//  grids.SCSS
//  Useful grid variables
// ==========================================================================

.grid-column-4-2-1 {
    width: $grid-column-4;
}

.grid-column-3-1 {
    width: $grid-column-3;
}

.grid-column-4-2-1 {
    width: $grid-column-4;
}

/* tablet */
@include mq($until: tablet) {
    .grid-column-4-2-1,
    .grid-column-3-1 {
        width: $grid-column-2;
    }
}

/* mobile*/
@include mq($until: mobile) {
    .grid-column-4-2-1,
    .grid-column-3-1{
        width: $grid-column-1;
    }
}