// ==========================================================================
//  MIXINS.SCSS
//  Sass mixins
// ==========================================================================

// Cross-browsers inline-block
// Example usage: @include inlineblock();
@mixin inlineblock() {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

// Cross-browsers opacity
// Example usage: @include opacity(0.5);
@mixin opacity($value) {
    opacity: $value;
    filter: alpha(opacity=$value * 100); // IE7
}

// Gradient for collection
// Example usage: @include gradientCollection('watch');
// Example usage: @include gradientCollection('other');
@mixin gradientCollection($type) {
    position: absolute;
    z-index: 1;
    content: ' ';
    display: block;
    top: 0;
    left: -500%;
    right: 0;
    height: 100%;
    width: 1000%;
    background: url(../Images/bg-gradient-collection-#{$type}.png) 0 0 repeat-x;
    background-size: contain;
    cursor: default;
    pointer-events: none;
}

// FontFace
// Example usage: @include fontface(typo);
// Tip : name all your font files the same
@mixin fontface($family, $weight: normal, $style: normal) {
    @font-face {
        font-family: '#{$family}';
        src: url('font/#{$family}.eot');
        src: url('font/#{$family}.eot?#iefix') format('embedded-opentype'),
        url('font/#{$family}.svg##{$family}') format('svg'),
        url('font/#{$family}.woff') format('woff'),
        url('font/#{$family}.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}