{% extends "layout/base-tpl.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <h1>Index</h1>
    <p class="important">
        Welcome on my awesome homepage.
    </p>

{% endblock %}
