@font-face {
    font-family: 'icons';
    src:    url('icons/fonts/icons.eot?ogp5eu');
    src:    url('icons/fonts/icons.eot?ogp5eu#iefixx') format('embedded-opentype'),
    url('icons/fonts/icons.ttf?ogp5eu') format('truetype'),
    url('icons/fonts/icons.woff?ogp5eu') format('woff'),
    url('icons/fonts/icons.svg?ogp5eu#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"], .icon-font {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-burger:before {
    content: "\e900";
}
.icon-close:before {
    content: "\e901";
}
.icon-check:before {
    content: "\e902";
}
.icon-apple:before {
    content: "\e903";
}
.icon-windows:before {
    content: "\e904";
}
.icon-close-bracket:before {
    content: "\e905";
}
.icon-pointer-top:before {
    content: "\e906";
}
.icon-pointer-bottom:before {
    content: "\e907";
}
.icon-pointer-vertical:before {
    content: "\e908";
}
.icon-arrow-left:before {
    content: "\e909";
}
.icon-arrow-right:before {
    content: "\e90a";
}
.icon-email:before {
    content: "\e90b";
}
.icon-sent:before {
    content: "\e90c";
}
.icon-print:before {
    content: "\e90d";
}
.icon-download:before {
    content: "\e90e";
}
.icon-clock:before {
    content: "\e90f";
}
.icon-close-menu:before {
    content: "\e910";
}
.icon-file:before {
    content: "\e911";
}
.icon-play:before {
    content: "\e912";
}
.icon-search:before {
    content: "\e913";
}
.icon-add-list:before {
    content: "\e914";
}
.icon-zoom:before {
    content: "\e915";
}
.icon-realize:before {
    content: "\e916";
}
.icon-inspire:before {
    content: "\e917";
}
.icon-prepare:before {
    content: "\e918";
}
.icon-documentation:before {
    content: "\e919";
}
.icon-catalog:before {
    content: "\e91a";
}
.icon-showroom:before {
    content: "\e91b";
}
.icon-agency:before {
    content: "\e91c";
}
.icon-career:before {
    content: "\e91d";
}
.icon-certified:before {
    content: "\e91e";
}
.icon-calculate:before {
    content: "\e91f";
}
.icon-score:before {
    content: "\e920";
}
.icon-localisation:before {
    content: "\e921";
}
.icon-style:before {
    content: "\e922";
}
.icon-configuration:before {
    content: "\e923";
}
.icon-validation:before {
    content: "\e924";
}
.icon-regulation:before {
    content: "\e925";
}
.icon-help:before {
    content: "\e926";
}
.icon-promotion:before {
    content: "\e927";
}
.icon-standards:before {
    content: "\e928";
}
.icon-formation:before {
    content: "\e929";
}
.icon-calendar:before {
    content: "\e92a";
}
.icon-wiring:before {
    content: "\e92b";
}
.icon-application:before {
    content: "\e92c";
}
.icon-open-bracket:before {
    content: "\e92d";
}
.icon-play-big:before {
    content: "\e92e";
}
.icon-download-thin:before {
    content: "\e92f";
}
.icon-file-medium:before {
    content: "\e930";
}
.icon-square-empty:before {
    content: "\e931";
}
.icon-square:before {
    content: "\e932";
}
.icon-user:before {
    content: "\e933";
}
.icon-user-empty:before {
    content: "\e934";
}
.icon-target:before {
    content: "\e935";
}
.icon-localisation-full-thin:before {
    content: "\e936";
}
.icon-localisation-empty-thin:before {
    content: "\e937";
}
.icon-add-list-full:before {
    content: "\e938";
}
.icon-add-list-empty-thin:before {
    content: "\e939";
}
.icon-search-thin:before {
    content: "\e93a";
}
.icon-search-empty:before {
    content: "\e93b";
}
.icon-score-empty-thin:before {
    content: "\e93c";
}
.icon-score-full-thin:before {
    content: "\e93d";
}
.icon-list-empty:before {
    content: "\e93e";
}
.icon-list-full:before {
    content: "\e93f";
}
.icon-foursquare-empty:before {
    content: "\e940";
}
.icon-foursquare-full:before {
    content: "\e941";
}
.icon-tool-empty:before {
    content: "\e942";
}
.icon-tool-full:before {
    content: "\e943";
}
.icon-youtube:before {
    content: "\e944";
}
.icon-facebook:before {
    content: "\e945";
}
.icon-twitter:before {
    content: "\e946";
}
.icon-pinterest:before {
    content: "\e947";
}
.icon-OuiDoo:before {
    content: "\e948";
}
.icon-bottom-bracket:before {
    content: "\e949";
}
.icon-top-bracket:before {
    content: "\e94a";
}
.icon-contact:before {
    content: "\e94b";
}
.icon-others:before {
    content: "\e94c";
}
.icon-registrer:before {
    content: "\e94d";
}
.icon-garanty:before {
    content: "\e94e";
}
.icon-immovable:before {
    content: "\e94f";
}
.icon-insatisfaction:before {
    content: "\e950";
}
.icon-product:before {
    content: "\e951";
}
.icon-respcom:before {
    content: "\e952";
}
.icon-ring:before {
    content: "\e953";
}
.icon-conformity:before {
    content: "\e954";
}
.icon-eye:before {
    content: "\e955";
}
.icon-export:before {
    content: "\e956";
}
.icon-dossiertech:before {
    content: "\e957";
}
.icon-edit:before {
    content: "\e958";
}
.icon-delete:before {
    content: "\e959";
}
.icon-import-list:before {
    content: "\e95a";
}
.icon-add:before {
    content: "\e95b";
}
.icon-less:before {
    content: "\e95c";
}
.icon-directions:before {
    content: "\e95e";
}
.icon-android:before {
    content: "\e95d";
}
.icon-tool-big:before {
    content: "\e95f";
}
.icon-piecejointe:before {
    content: "\e960";
}