/* ==========================================================================
   COLORS.SCSS
   Colors definitions
   ========================================================================== */


.bg-color-white { background-color: $color-white; }

.color-une { color: $color-une; }
.bgcolor-une { background-color: $color-une; }
.border-une { border-color: $color-une; }

.color-kitchen { color: $color-kitchen; }
.bgcolor-kitchen { background-color: $color-kitchen; }
.border-kitchen { border-color: $color-kitchen; }

.color-learn { color: $color-learn; }
.bgcolor-learn { background-color: $color-learn; }
.border-learn { border-color: $color-learn; }

.color-play { color: $color-play; }
.bgcolor-play { background-color: $color-play; }
.border-play { border-color: $color-play; }

.color-discover { color: $color-discover; }
.bgcolor-discover { background-color: $color-discover; }
.border-discover { border-color: $color-discover; }

.color-imagine { color: $color-imagine; }
.bgcolor-imagine { background-color: $color-imagine; }
.border-imagine { border-color: $color-imagine; }

.color-reduction { color: $color-reduction; }
.bgcolor-reduction { background-color: $color-reduction; }
.border-reduction { border-color: $color-reduction; }