/* ==========================================================================
   TYPOGRAPHY.SCSS
   Typography definitions
   ========================================================================== */

/* Fonts classes */

.typo-u {
    font-family: 'Ubuntu', sans-serif;
}

body {
    font: 1.2em/1.3333 'Ubuntu', sans-serif; // font-sizing for content 12px / 32px

    @media screen and (min-width: $breakpoint-medium) {
        font-size: 1.6em;
        line-height: 1.3125;
    }
}

/* Set titles weight to normal */
h1, h2, h3, h4 {
    font-weight: normal;
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

.txt-title-top-page {
    font-size: 22px;
    font-weight: 700;
}

.txt-menu-buttons {
    //explorer imaginer… bold 17
    font-size: 17px;
    font-weight: 700;

}

.txt-submenu-link {
    font-size: 15px;
    font-weight: 500;
    //news lorem  medium 15
}

.txt-menu-title {
    font-size: 18px;
    font-weight: 700;

    //la selection ede la semaine bold 18
}

.txt-menu-block-title {
    font-size: 12px;
    font-weight: 700;
    //une partie de bowling bold 12
}

.txt-breadcrumb {
    //bold 10
    font-size: 10px;
    font-weight: 700;

}

.txt-title-master-block {
    font-size: 20px;
    font-weight: 700;
    //dossier a partager  bold 20

}

.txt-subtitle-master-block {
    font-size: 14px;
    font-weight: 500;
    //à coté de celui du dessus ↑ medium 14
}

.txt-mea-title {
    font-size: 15px;
    font-weight: 700;
    //une recette de gateau en famille  bold 15
}

.txt-mea-sticker {
     //bold 12
    font-size: 12px;
    font-weight: 700;
}

.txt-mea-content {
    font-size: 14px;
    font-weight: 500;
    // medium 14
}

.txt-mea-footer {
    font-size: 14px;
    font-weight: 700;
    //bold 14px 5 ans+
}

.txt-block-price {
    font-size: 50px;
    font-weight: 700;
    //bold 50
}

.txt-button {
    font-size: 14px;
    font-weight: 700;
    //bold 14
}

.txt-article-title {
    //bold 40
    font-size: 40px;
    font-weight: 700;
}

.txt-article-content {
    //regular 15
    //strong 15 bold
    font-size: 15px;
    font-weight: 400;
    strong {
        font-weight: 700;
    }
}

.txt-article-col-title {
    //bold 17
    font-size: 17px;
    font-weight: 700;

}

.txt-article-col-mea-title {
    //bold 12
    font-size: 12px;
    font-weight: 700;

}

.txt-article-col-mea-content {
    //light 11
    font-size: 11px;
    font-weight: 100;

}

.txt-article-col-mea-list {
    font-size: 12px;
    font-weight: 100;
    //light 12
}

.txt-quote {
    font-size: 72px;
    font-weight: 700;
    //time new roman bold 72
}

.txt-quote-content {
    font-size: 30px;
    font-weight: 100;
    strong {
        font-weight: 700;
    }
    //light italic 30
    //strong bold italic 30
}


