//breadcrumb

.breadcrumb {
    display: none;
    @extend .text-m-2;
    text-transform: inherit;
}

@include mq($from: desktop) {
    .breadcrumb {
        display: block;
        .breadcrumb-list {
            display: flex;
        }

        .list-item {
            display: flex;
            align-items: center;
            &:first-child:before {
                display: none;
            }
            &:before {
                content: '\e92d';
                font-family: 'icons';
                font-size: 22px;
                margin-right: 4px;
                vertical-align: middle;
            }
            &:last-child {
                font-weight: bold;
            }
        }
        .list-item-link {
            vertical-align: middle;
        }
    }
}