#content {
    .module {
        margin-bottom: 30px;
        overflow: hidden;
    }

    @media screen and (min-width: $breakpoint-tablet) {
        .module {
            margin-bottom: 35px;
        }
    }

    @media screen and (min-width: $breakpoint-desktop) {
        padding: 0 20px;

        .module {
            margin-bottom: 40px;
        }
    }
}