header {
    background: #C09853;
    display: flex;
    height: $headerHeight;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.in-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: $max-width;
    width: 100%;
}